{% extends 'master.html' %}
{% block content %}




<div class="container m-5">
<img class="d-block mx-auto"  src="https://cdn-icons-png.flaticon.com/128/190/190411.png" alt="">
<h3 class="text-center">Person was updated successfully</h3>
</div>


<p><a class="btn btn-danger" href="/persons/perdetails/{{person.id}}" type="button">Go to Details</a></p>
<p><a class="btn btn-primary" href="/persons">Go back to Persons  list </a></p>
<p><a class="btn btn-secondary" href="/">Go back to Main Page</a></p>



{% endblock %}
